body{
    margin:0;
    padding:0;
    overflow: hidden;
    text-align: center;
    background-color: aqua;
}

#carCanvas{
    background-color: grey;
}

#networkCanvas{
    background-color: black;
}